
<div class="profile-edit">
	<% if flash[:update] %>
		<p class="error"><%= flash[:update] %></p>
		<% end %>
	<% if @user.errors.any? %>
	    <div class="alert alert-warning">
	    <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
	<h1>User info</h1>
	<%= form_for(@user) do |f| %>

        <p>Name<%= f.text_field :name %></p>
        <p>Image <%= f.attachment_field :profile_image %></p>
        <p>Introduction<%= f.text_area :introduction %></p>

        <p><%= f.submit 'Update User' %></p>
    <% end %>
</div>