<!DOCTYPE html>
<html>
<head>
<title>Bookers</title>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-invers">
    <nav class="nav navbar-nav navbar-left">
      <h2 class="bookers">Bookers</h2>
    </nav>_
    <div id="slidemenu">
        <nav class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <p class="glyphicon glyphicon-home home">
              <%= link_to 'Home', user_path(current_user) %>
            </p>
            <p class="glyphicon glyphicon-user users">
              <%= link_to 'Users', users_path %>
            </p>
            <p class="glyphicon glyphicon-book books">
              <%= link_to 'Books', books_path %>
            </p>
            <p class="glyphicon glyphicon-log-out logout">
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </p>


          <% else %>
            <p class="glyphicon glyphicon-home home">
              <%= link_to 'Home', root_path %>
            </p>
            <p class="glyphicon glyphicon-link about">
              <%= link_to 'About', home_about_path %>
            </p>
            <p class="glyphicon glyphicon-edit sign_up">
              <%= link_to "Sign up", new_user_registration_path %>
            </p>
            <p class="glyphicon glyphicon-log-in sign_in">
              <%= link_to "Login", new_user_session_path %>
            </p>
          <% end %>
        </nav>
    </div>
  </header>

    <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
